<ons-page>
  <ons-toolbar>
    <div class="left">
      <ons-back-button>Back</ons-back-button>
    </div>
    <div class="center">Appetizers &amp; Salads</div>
  </ons-toolbar>

    <div class="app-page">
      <div class="app-page-menu">
        <ons-row>
          <ons-col>
            <ons-button modifier="clean" ng-click="gallery.pushPage('app.html');">
              <img src="images/menu/shrimp.jpg">
              <p>Appetizers</p>
            </ons-button>
          </ons-col>
        </ons-row>
        <ons-row>
          <ons-col>
            <ons-button modifier="clean" ng-click="gallery.pushPage('salads.html');">
              <img src="images/menu/watermelon.jpg">
              <p>Salads</p>
            </ons-button>
          </ons-col>
        </ons-row>
      </div>

    </div>

</ons-page>  